{% extends "NomiproApp/base.html" %} {% load static %} {% block content %}

<h1 class="titulost">CREAR HORAS EXTRAS</h1>

{% if form.errors%}

<p style="color: red;">Por favor revisa este campo</p>

{% endif %}



<section class="seccion">

    <form class="formulario" action="" method="POST">{% csrf_token %}

        <table class="tabla">
    
            {{ form.as_table}}
    
        </table>
    
        <input class="btn btn-info botonForm" type="submit" value="Enviar">
    
    
    </form>
</section>


{% endblock %}